In [0]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("ETL_Pipeline_Load").getOrCreate()

# Paths
transformed_file_path = "dbfs:/user/hive/warehouse/temp/transformed_data.parquet"

# Read transformed data
print("Starting load step...")
transformed_df = spark.read.format("parquet").load(transformed_file_path)

# Write back to the same table or a new table
transformed_df.write.format("delta").mode("overwrite").saveAsTable("mudah_apartment_kl_selangor_transformed")
print("Data loaded into the table mudah_apartment_kl_selangor_transformed.")

Starting load step...
Data loaded into the table mudah_apartment_kl_selangor_transformed.